hs_err_*.log
*/CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
jcae/*/nbproject/genfiles.properties
jcae/*/nbproject/build-impl.xml
jcae/*/build/
jcae/*/dist/
jcae/*/nbproject/private/
jcae/build/
jcae/dist/
jcae/nbproject/build-impl.xml
jcae/nbproject/genfiles.properties
jcae/nbproject/private/
*.o
*.a
*.dll
*.so
occjava/Makefile
occjava/classes/
!occjava/src-java/org/jcae/opencascade/jni/BRepOffsetAPI_Sewing.java
occjava/src-java/org/jcae/opencascade/jni/*.java
occjava/stamp-h1
vtk-util/build/
vtk-util/dist/
vtk-util/manifest.mf
vtk-util/nbproject/private/
vtk-util/nbproject/build-impl.xml
vtk-util/nbproject/genfiles.properties
amibe/build
amibe/dist/
amibe/nbproject/build-impl.xml
amibe/nbproject/genfiles.properties
amibe/nbproject/private/
vtk-amibe-occ/build/
vtk-amibe-occ/dist/
vtk-amibe-occ/nbproject/build-impl.xml
vtk-amibe-occ/nbproject/genfiles.properties
vtk-amibe-occ/nbproject/private/
htdocs/build/
viewer3d/nbproject/private/
viewer3d/build/
viewer3d/dist/
viewer3d/nbproject/build-impl.xml
viewer3d/nbproject/genfiles.properties
