h1
{
	text-align: center;
	color: rgb(204, 51, 204);
}

h2
{
	background-color: rgb(204, 204, 255);
}

h3
{
	background-color: rgb(255, 225, 225);
}

table
{
	border: 1px outset ;
	border-spacing: 0px;
}

td
{
	border-style: inset;
	border-width: 1px;
	padding: 2pt
}
